.wrapPerson {
	text-align: center;
	margin: 45px 0;
	padding: 30px 0;
}

.wrapPerson h2 {
	color: #242d52;
	font-weight: 700;
	font-size: 2em;
}

.wrapPerson .wrapSlider {
	padding: 65px 0 0;
	overflow-x: hidden;
	margin-bottom: 70px;
}

.wrapPerson .wrapSlider .wrapPersonSlider {
	margin-top: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400%;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-left: 0;
}

.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider {
	margin: 0 15px;
	background-color: #fafafa;
	position: relative;
	padding: 80px 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border: 2px solid transparent;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider img {
	width: 80px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	top: -40px;
}

.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider h3 {
	color: #242d52;
}

.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider p {
	margin-top: 15px;
	color: #888;
}

.wrapPerson .wrapSlider .wrapPersonSlider .selectActive {
	background-color: #ebe9e9;
	border: 2px solid #dcdcdc;
}

.wrapPerson .btnSlider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: auto;
	margin-bottom: 30px;
}

.wrapPerson .btnSlider .btn {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #f25f3a;
	cursor: pointer;
	margin: 0 2px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.wrapPerson .btnSlider .btnActive {
	background-color: #f25f3a;
}

.wrapPerson a {
	color: #fff;
	text-decoration: none;
	background-color: #f25f3a;
	padding: 10px 20px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 8px 14px -8px #f25f3a;
	box-shadow: 0px 8px 14px -8px #f25f3a;
	margin-bottom: 20px;
}

.wrapPerson a:hover {
	background-color: #f08e76;
}

@media (min-width: 912px) {
	.wrapPerson {
		margin: 80px 0 120px;
	}
	.wrapPerson .wrapSlider .wrapPersonSlider {
		margin-top: 100px;
		width: 140%;
		margin-left: 0;
		margin-bottom: 70px;
	}
	.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider {
		margin: 0 15px;
		padding: 80px 20px;
	}
	.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider img {
		width: 80px;
		top: -40px;
	}
	.wrapPerson .wrapSlider .wrapPersonSlider .itemSlider p {
		margin-top: 15px;
	}
	.wrapPerson .btnSlider {
		display: none;
	}
}
